*{
	font-family: 'Roboto Slab', serif;
}

.order-button{
	background-color: #FA7B03;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 25px;
	position: sticky;
}

#bg-image{
	min-height: 50vh;
	background-image: url(https://scontent.fmnl10-1.fna.fbcdn.net/v/t39.30808-6/264580087_505296647945740_4060128259841380293_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeG5VTgeujNZdQAkUIox4m1JCxgvNkcN3IQLGC82Rw3chBL4OD7fhC6fRgyGq5UBFtRl8jtuW-zehzecJWDYrSuk&_nc_ohc=zhfuSt0JgVQAX9fXFfH&_nc_ht=scontent.fmnl10-1.fna&oh=00_AfBRRiydJXiBohZy3gb8mhCevVa0oxpoHB_anyBek2wu7A&oe=63C49233);
	background-repeat: no-repeat;
	background-size: 100vw;
	background-position: center;
}

.front-bg{
	background-color: rgba(0,0,0, 0.5);
	min-height: 50vh;
}

.container{
	color: white;
	display: inline-block;
	text-align: right;
	margin-right: 8rem;
}

.title{
	font-family: 'Zilla Slab', serif;
	font-weight: bold;
	font-size: 45px;
	line-height: 1em;
	padding-top: 1em;
}

.subtitle{
	margin-left: 30em;
	font-size: 20px;
	text-align: right-justify;
	line-height: 1.5em;
	padding-top: 10em;
	font-family: 'Montserrat', sans-serif;
}

.order-button2{
	background-color: #FA7B03;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 25px;
	padding: 0.5rem;
	padding-left: 3rem;
	padding-right: 3rem;
}






